.userMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: navajowhite;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: #b35100;
}

button:active {
  background-color: #688500;
}
